<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/nav.ejs') %>
  <p>This is the index page</p>
  <%- include ("partials/errors.ejs") %>
  <!-- want a traits and units tag that redirects to the routes -->
   <a href="/champions">View All Champions</a>
   <a href="/traits">View All Traits</a>
  <%- include('form.ejs') %>
  <%- include('partials/footer.ejs') %>
</body>
</html>